<style>
  .mask-custom {
    backdrop-filter: blur(15px);
    background-color: rgba(255,255,255,.2);
    border-radius: 3em;
    border: 2px solid rgba(255,255,255,.1);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  }

  .form-inputs input {
    background-color: #ffffff;
    border-radius: 6px;
    color: black;
  }

  .form-actions {
    text-align: center;
  }

  .form-actions input {
    margin-top: 30px ;
    width: 99%;
    border-radius: 6px;
    border: none;
    color: white;
    font-weight:bold;
  }

</style>

<body style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('https://visionsandvoices.usc.edu/wp-content/uploads/2022/06/Homepage_Background_3000x1200.png');">


  <div class="mask d-flex align-items-center h-100">
    <div class="container p-5">
      <div class="row justify-content-center ">
        <div class="col-12 col-md-10 col-lg-7 col-xl-6">
          <div class="background-color-white mask-custom">
            <div class="booking-form p-5 my-5 " >
              <% if user_signed_in? %>
                <h4 class="text-center mb-5"> Request A Meeting </h4>
                  <%= simple_form_for [@user, @meeting] do |f| %>
                    <div class="form-inputs background-color-white">
                        <%= f.input :date, html5: true %>
                    </div>
                    <div class="form-inputs">
                        <%= f.input :time, html5: true %>
                    </div>
                    <div class="form-actions">
                      <%= f.button :submit, "Send Request", class: "btn" %>
                    </div>
                  <% end %>
              <% else %>
                <h1>Please log in to book a meeting!</h1>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</body>
