<style>
  body{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('https://visionsandvoices.usc.edu/wp-content/uploads/2022/06/Homepage_Background_3000x1200.png');
  }
</style>

<body>

  <div class="mask d-flex align-items-center h-100">
    <div class="container p-5">
      <div class="row justify-content-center ">
        <div class="col-12 col-md-10 col-lg-7 col-xl-6">
          <div class="background-color-white mask-custom">
            <div class="booking-form p-5 my-5 " >
              <% if user_signed_in? %>
                <h4 class="text-center mb-5"> Request A Meeting </h4>
                  <%= simple_form_for [@user, @meeting] do |f| %>
                    <div class="form-inputs background-color-white">
                        <%= f.input :date, html5: true, required: true %>
                    </div>
                    <div class="form-inputs">
                        <%= f.input :time, html5: true, required: true %>
                    </div>
                    <div class="form-actions">
                      <%= f.button :submit, "Send Request", class: "form-btn" %>
                    </div>
                  <% end %>
              <% else %>
                <h1>Please log in to book a meeting!</h1>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
