// Define variables for your color scheme

// Devder Figma Colour Palette:
$purple: #9334E9;
$dark-orange: #F97315;
$dark-gray: #262626;
$light-black: #161616;
$light-gray: #A8A29E;
$white: #F5F5F4;

// Bootstrap:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$lighter-gray: #F4F4F4;
