.favourites {

  padding: 50px;

  h1 {
    margin-bottom: 24px;
    color: $white;
    font-size: 50px;
    text-align: center;
  }

  h2 {
    margin-bottom: 24px;
    color: $light-gray;
    font-size: 30px;
    text-align: center;
  }

  .heart-big {
    margin-left: 12px;
    color: #9334E9;
    right: -8px;
    top: -6px;
    font-size: 32px;
    opacity: 1;
    border-radius: 50px;
    animation: likeheart 1.0s ease infinite;
  }

}

@keyframes likeheart {
  0% {
    filter: drop-shadow(0 0 0 rgba(0,0,0,0.2));
    transform: scale(1)
  }
  40% {
    filter: drop-shadow(0 3px 1px rgba(0,0,0,0.2));
    transform: scale(1.5);
  }
  60% {
    filter: drop-shadow(0 0 0 rgba(0,0,0,0.2));
    transform: scale(1.5);
  }
  100% {
    filter: drop-shadow(0 0 0 rgba(0,0,0,0.2));
    transform: scale(1.0);
  }
}

.favourites-back a {
  text-decoration: none;
  color: $light-gray;
  margin-left: 16px;
}

.favourites-back i {
  text-decoration: none;
  color: $light-gray;
}
