.my-profile {

  h5 {
    margin-bottom: 24px;
    color: $light-gray;
    font-size: 24px;
  }

  .title-scheduled {
    color: $white;
    font-size: 16px;
    font-weight: bold;
  }

  .title-pending {
    color: $white;
    font-size: 16px;
    font-weight: bold;
  }

  .text-pending {
    color: $white;
    font-size: 16px;
    font-weight: bold;
  }

  .text-scheduled {
    color: $white;
    font-size: 16px;
    font-weight: bold;
  }


  i.purple {
    color: $purple;
    margin-right: 16px;
    font-size: 26px;
  }

  i.orange {
    color: $dark-orange;
    margin-right: 16px;
    font-size: 26px;
  }



}
