.profiles-show {

  padding-top: 48px;

  h1 {
    font-size: 64px;
  }

  h2 {
    color: $orange;
    font-size: 24px;
  }

  h3 {
    color: $light-gray;
    font-size: 24px;
    padding: 16px 0px;
  }

  .profile-info h3 {
    padding: 0px 12px;
  }

  i {
    color: $purple;
    margin-right: 24px;
    font-size: 24px;
  }

  .profile-info p {
    font-size: 20px;
  }

  .image-container {
    width: 500px;
    height: 500px;
    box-shadow: inset 0px 0px 16px 16px $dark-gray;
  }

  img {
    width: 500px;
    height: 500px;
    position: relative;
    z-index: -10;
  }

  .map img {
    width: 700px;
  }
}
