.profiles-show {

  h1 {
    font-size: 56px;
  }

  h2 {
    color: $orange;
    font-size: 24px;
  }

  h3 {
    color: $light-gray;
    font-size: 24px;
    padding: 16px 0px;
  }

  .profile-info h3 {
    padding: 0px 12px;
  }

  i {
    color: $purple;
    margin-right: 24px;
    font-size: 24px;
  }

  .profile-info p {
    font-size: 20px;
  }

  .image-container {
    width: 500px;
    height: 500px;
    box-shadow: inset 0px 0px 16px 16px $dark-gray;
  }

  img {
    width: 500px;
    height: 500px;
    position: relative;
    z-index: -10;
  }

  .map img {
    width: 700px;
  }
}

.review-cards {

  h3 {
    color: $light-gray;
    margin: 32px 0px 40px 0px;
  }

  p {
    font-size: 14px;
    color: $light-gray;
  }

  strong {
    color: $white;
  }

  em {
    color: $light-gray;
  }

  .review-card {
    margin: 40px 0px;
    padding: 8px 16px;
    box-shadow: 4px 4px 0px 4px #181818;
    border-radius: 15px;
    border: 2px solid #181818;
    background-color: $dark-gray;
  }

  .review-card img {
    border: 2px solid #181818;
    width: 120px;
    border-radius: 50%;
  }

  .review-card i {
    color: $dark-orange;
  }

  .review-author {
    text-align: end;
  }

}
