.profiles-show {

  h1 {
    font-size: 104px;
  }

  h2 {
    color: $orange;
    font-size: 24px;
  }

  h3 {
    color: $light-gray;
    font-size: 24px;
  }

  i {
    color: $purple;
    margin-right: 24px;
    font-size: 24px;
  }

  .profile-info p {
    font-size: 20px;
  }

  // img {
  //   box-shadow: 0px 0px 48px $red;
  // }

  .map img {
    width: 700px;
  }
}
