 <div class="collection-check-box mt-2 mb-3">
                  <%= b.check_box %>
                  <% if b.text == "Ruby" %>
                    <i class="devicon-ruby-plain"></i>
                  <% end %>
                  <%= b.label %>
                </div>
