<h1>My profile</h1>

<h2><%= current_user.first_name %></h2>
<h2><%= current_user.last_name %></h2>
<h2><%= current_user.email %></h2>

<% current_user.meetings_as_student.each do |meeting_as_student| %>
  <%= meeting_as_student.professional.first_name %>
<% end %>
