<div class="profile-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1650473395434-8674d953ef2f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3132&q=80)">
  My profile
</div>

<div class="container">


  <div class="box ">
    <h4>Basic Info</h4>
    <div class="info" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Full Name</li>
        <li class="list-group-item">Contact Email</li>
        <li class="list-group-item">Based In</li>
      </ul>
    </div>
  </div>

  <div class="box ">
  <h4>I'm looking for...</h4>
  </div>



  <div class="box self-intro">
    <h4>About Me</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque. Nulla porttitor massa id neque aliquam vestibulum morbi. Hendrerit dolor magna eget est lorem ipsum. Erat velit scelerisque in dictum non consectetur a erat nam. Blandit aliquam etiam erat velit scelerisque in dictum. Elementum nibh tellus molestie nunc non blandit massa. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros in.</p>
  </div>


  <div class="box meetings ">



    <div class="row">
    <h5>Scheduled Meetings</h5>
      <div class="col-sm-4 mb-5">
        <div class="meet-card">
          <div class="card-body">
            <h5 class="card-title" >Meeting 2</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>

    </div>





    <div class="row">
    <h5>Completed Meetings</h5>
      <div class="col-sm-4">
        <div class="card border-light mb-3" style="max-width: 18rem; color:black">
          <div class="card-header">Meeting 1</div>
          <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn" style="font-size: 12px;">Write a review</a>
          </div>
        </div>
      </div>
    </div>



  </div>



  </div>


</div>

<h2><%= current_user.first_name %></h2>
<h2><%= current_user.last_name %></h2>
<h2><%= current_user.email %></h2>

<%# Meeeting summary, linked to new_user_meeeing_path %>
<%= render partial: "shared/meetings"%>
