<div class="container">
  <div class="row">
    <div class="fav-cards mt-4">

      <% @users.each do |user| %>
        <%= render 'users/card', user: user %>
      <% end %>

    </div>

  </div>
</div>
