<div class="container">
  <div class="favourites-back">
    <br>
    <p><i class="fa-solid fa-arrow-left"></i><%= link_to "Back to Professionals", users_path %></p>
  </div>
  <div class="favourites">
    <h1>My Favourites <i class="fa-solid fa-heart heart-big"></i></h1>
    <h2>Why don't you check out one of your favourited profiles? 😎 </h2>
  </div>
  <div class="row">
    <div class="fav-cards mt-4">

      <% @users.each do |user| %>
        <%= render 'users/card', user: user %>
      <% end %>

    </div>

  </div>
</div>
