<div class="homepage-banner">
  <div class="container text-center">
    <h1><strong> Discover your post-bootcamp career today</strong></h1>
    <%= link_to "Find a developer", users_path, class:"btn-purple" %>
  </div>
</div>
