<div class="banner">
  <div class="container text-center">
    <h1>Discover your <strong>post-bootcamp career</strong> today</h1>
    <a class="btn-purple" href="#">Find a developer</a>
  </div>
</div>
