<div class="banner">
  <div class="container text-center">
    <h1>Discover your <strong>post-bootcamp career</strong> today</h1>
    <%= link_to "Find a developer", users_path, class:"btn-purple" %>
  </div>
</div>
