<%# <style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: black;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    padding: 30px 50px;
    color: white;
  }

  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: rgb(255, 255, 255);
    opacity: 0.15;
    text-decoration: none;
    font-size: 36px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }

  .footer-copyright {
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
  }

</style> %>

<div class="footer mt-5">
  <div class="footer-copyright">
    <strong>DISCLAIMER:</strong> We do not own the copy right of Pokémon, but if you like this website, <s>here is my bank account details</s> follow our github!  <i class="fas fa-heart"></i>
  </div>

  <div class="footer-links">
    <a href="https://github.com/cjyl/rent-a-mon"><i class="fab fa-github"></i></a>
  </div>
</div>
