<style>
  .footer {
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    background: black;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    padding: 0px 50px;
    color: white;

  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: rgb(255, 255, 255);
    opacity: 0.15;
    text-decoration: none;
    font-size: 36px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }

  .footer-copyright {
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
  }

</style>

<div class="footer mt-5 text-center">
  <div class="footer-copyright">
    <strong>DISCLAIMER:</strong> All users on this platform are responsible for communicating in a professional and respectful manner.
    <s>It really is not a dating app.</s>
  </div>

  <div class="footer-links">
    <a href="https://github.com/DUBIHUBI/devder" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
  </div>
</div>
