<div class="footer mt-5">
  <div class="footer-copyright">
    <strong>DISCLAIMER:</strong> We do not own the copy right of Pokémon, but if you like this website, <s>here is my bank account details</s> follow our github!  <i class="fas fa-heart"></i>
  </div>

  <div class="footer-links">
    <a href="https://github.com/DUBIHUBI/devder" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
  </div>
</div>
