<div class="footer <%= controller_name == "pages" && action_name == "home" ? "new-colour" : "" %> <%= controller_name == "sessions" && action_name == "new" ? "new-transparent" : "" %>">

  <div class="footer-links">
    <a href="https://github.com/DUBIHUBI/devder" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/johan-van-meeuwen-13979880" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <p>© 2022 Devder</p>
  </div>
</div>
