<% if current_user.student? %>
  <% current_user.meetings_as_student.each do |meeting_as_student| %>
    <p><%= meeting_as_student.professional.first_name %></p>
  <% end %>
<% else %>
  <% current_user.meetings_as_professional.each do |meetings_as_professional| %>
    <p><%= meetings_as_professional.student %></p>
  <% end %>
<% end %>
