<div class="bc">
<%= render "shared/banner" %>

<%# Testimonials Below %>

<div class="homepage-testimonials">
  <div class="container">
    <div class="row g-5">
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-4 testimonial-image">
              <img src="https://ca.slack-edge.com/T02NE0241-U03BG8BGHM3-1469b40be5b0-512" alt="">
            </div>
            <div class="col-8 testimonial-content">
              <div class="testimonial-stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <div>
                <p class="testimonial-content"><em>"I feel like I never left Le Wagon because of Devder!"</em></p>
              </div>
              <p class="testimonial-name"><strong>Anna Banana</strong><br>Backend Developer</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-4 testimonial-image">
              <img src="https://ca.slack-edge.com/T02NE0241-U03BP67E9RB-3552484dd4f0-512" alt="">
            </div>
            <div class="col-8 testimonial-content">
              <div class="testimonial-stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <p class="testimonial-content"><em>"I spoke to three backend devs in two days!"</em></p>
              <p class="testimonial-name"><strong>Carlie McCartney</strong><br>Frontend Developer</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-4 testimonial-image">
              <img src="https://ca.slack-edge.com/T02NE0241-U03BE5997SA-1d7908470839-512" alt="">
            </div>
            <div class="col-8 testimonial-content">
              <div class="testimonial-stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <p class="testimonial-content"><em>"It feels great to give back and offer my advice!"</em></p>
              <p class="testimonial-name"><strong>Hubert Yutopia</strong><br>Fullstack Developer</p>
            </div>
          </div>
        </div>
      <%# </div> %>
    </div>
  </div>
</div>

<%# How it works section below %>

<div class="homepage-grid">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>How it works</h1>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <h1 class="text-center">1</h1>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-center">
          <h3>Find recently hired junior developers</h3>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-center">
          <%= image_tag('how_it_works_1') %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <h1 class="text-center">2</h1>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-center">
          <h3>Speak with them within 24 hours</h3>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-center">
          <%= image_tag('how_it_works_2') %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <h1 class="text-center">3</h1>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-center">
          <h3>Use learnings to find your dream job</h3>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-center">
          <%= image_tag('how_it_works_3') %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
