<%= render "shared/banner" %>

<%# Testimonials Below %>

<div class="homepage-testimonials">
  <div class="container">
    <div class="row gx-5">
      <div class="col-4">
          <div class="row">
            <div class="col-4">
              <img src="https://ca.slack-edge.com/T02NE0241-U03BG8BGHM3-1469b40be5b0-512" alt="">
            </div>
            <div class="col-8">
              <p><em>"“I had no idea what I wanted to do until I found Devder!”"</em></p>
              <p class="text-right"><strong>Anna Efthymiadou</strong><br>Fullstack Developer</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-4">
              <img src="https://ca.slack-edge.com/T02NE0241-U03BP67E9RB-3552484dd4f0-512" alt="">
            </div>
            <div class="col-8">
              <p><em>"“I had no idea what I wanted to do until I found Devder!”"</em></p>
              <p class="text-right"><strong>Carly Yuo</strong><br>Fullstack Developer</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-4">
              <img src="https://ca.slack-edge.com/T02NE0241-U03BE5997SA-1d7908470839-512" alt="">
            </div>
            <div class="col-8">
              <p><em>"“I had no idea what I wanted to do until I found Devder!”"</em></p>
              <p class="text-right"><strong>Hubert Yu</strong><br>Fullstack Developer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
