.btn-purple {
  width: 270px;
  height: 55px;
  background-color: $purple;
  color: $white;
  text-decoration: none;
  font-weight: bold;
  padding: 16px 48px;
  border-radius: 8px;
  transition: 0.2s ease-out;
  box-shadow: inset 0 0 0 0 $purple;

  &:hover {
    box-shadow: inset 270px 0 0 0 $dark-orange;
    color: $white;
  }
}

.btn-index {
  background-color: rgba($color: #9334E9, $alpha: 0.5);
  color: $white;
  font-weight: bolder;
  transition: 0.5s;
  // border-radius: 16px;

  &:hover {
    background-color: $purple;
    transform: scale(1.05);
    // transform: scale(0.95);
    // margin-left: 48px;
    // margin-right: 48px;
  }
}

.btn-purple-sm {
  width: 135px;
  height: 35px;
  background-color: $purple;
  color: $white;
  text-decoration: none;
  font-weight: bold;
  padding: 4px 0px;
  border: 0px none transparent !important;
  border-radius: 8px !important;
  transition: 0.2s ease-out;
  box-shadow: inset 0 0 0 0 $purple;

  &:hover {
    box-shadow: inset 135px 0 0 0 $dark-orange;
    color: $white;
    border: 0px none transparent !important;
  }
}
