.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  color: $light-gray;
  background-color: $light-black;
  flex: 0 1 23%;
  margin-bottom: 2em;
  border-radius: 16px;
  box-shadow: 8px 8px 24px rgba(0,0,0,1);;
  // margin: 1em;

  li {
    list-style: none;
  }

  ul {
    margin-top: 8px;
    padding-left: 0;

    i {
      color: $purple;
    }
  }

  .card-image {
    margin: 24px;
  }

}
