.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  color: black;
  background-color: $light-gray;
  flex: 0 1 24%;
  margin-bottom: 1em;

  li {
    list-style: none;
  }

  ul {
    padding-left: 0;
  }
}
