//chatroom_index
.chatlist .active {
  background-color: #f9741586;
  text-decoration: none;

}

.active a {
  color: white;
  text-decoration: none;
  padding-left: 20px;
}

.chatlist{
  padding: 20px;
}

.chatlist a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  // margin: 0;
  // border-top: 2px solid $purple;
}

.chatlist p {
  margin: 0;
  padding: 10px 0;
}

.name a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  &:hover{
    text-decoration: none;
    color: $orange;
  }
}

#chatroom_container {
  // height:calc(100vh - 200px);
  width: 100%;

}

#side_panel {
  height: 80vh;
  min-width: 25%;
  margin-right: 0px !important;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgba(255,255,255,.1);
  // margin-bottom: 55px;
}

#room_container {
  height: 80vh;
  margin-right: 0px !important;
  position: relative;
  background-color: rgb(0, 0, 0);
  padding-bottom: 70px;
}

#name_head {
  border-bottom: 0.5px solid lightgray;
  height: 70px;


}

#chatbox {
  height: 66vh;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  overflow-y: scroll;

}

#typebox {
  left:12px;
  right:12px;
  width: unset;
  // width:100%;
  position: absolute;
  bottom: 0;

  height: 70px;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

//_message html

.msg-form {
  width: 100%;
  height: 56px;
  padding: 10px;
}

.messages {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  padding-bottom: 16px;
}

.msg-content {
  width: 80%;
  margin-right: 5px;
}

.big-box-1 {
  display: flex;
  justify-content: flex-end;
}

.big-box-2 {
  display: flex;
  justify-content: flex-start;
}

.message-box-1 {
  word-wrap: break-word;
  width: fit-content;
  max-width: 80%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #7940c9;
  padding: 10px;
}

.message-box-2 {
  word-wrap: break-word;
  width: fit-content;
  max-width: 80%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #F97315;
  padding: 10px;

 }

 i {
  color: lightgray;
  font-weight: lighter;
  font-size: 12px;

}

#new_message {

  width: 100%;
  display: flex;


  .msg-inputs {
    width: 75%;
    margin-right: 6px ;

  }
  .msg-actions {
    width: 25%;
    margin-left: 4px ;
  }
  input {
    margin: 0;
  }

}

.back {
  position: relative;
}

.front {
  position: absolute;
  right: -20px;
  top: 75px;
  width: 200px !important;
  padding: 16px 0px !important;
}
