//chatroom_index
.chatlist .active {
  background-color: purple;
  text-decoration: none;
}

.active a {
  color: white;
  text-decoration: none;
}

.chatlist{
  padding: 20px;
}

.chatlist a {
  color: white;
  text-decoration: none;
}

.name a{
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: none;
    color: rgb(69, 32, 87);
  }
}

#chatroom_container {
  height:calc(100vh - 200px);
  width: 100%;

}

#side_panel {
  height: 80vh;
  min-width: 25%;
  margin-right: 0px !important;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 55px;
}

#room_container {
  height: 80vh;
  margin-right: 0px !important;
  position: relative;
}

#name_head {
  border-bottom: 0.5px solid lightgray;
  height: 70px;

}


#chatbox {
  height: 73vh;
  background-color: pink;
  overflow-x: hidden;
  overflow-y: scroll;

}

#typebox {
  left:12px;
  right:12px;
  width: unset;
  position: absolute;
  bottom: 0;
  background-color:white;
  height: 70px;
  display: flex;
  align-items: center;
}

//_message html

.msg-form {
  width: 100%;
  height: 56px;
  padding: 10px;
}

.messages {
  height: 68vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  padding-bottom: 16px;
}

.msg-content {
  width: 80%;
  margin-right: 5px;
}

.big-box-1 {
  display: flex;
  justify-content: flex-end;
}

.big-box-2 {
  display: flex;
  justify-content: flex-start;
}

.message-box-1 {
  word-wrap: break-word;
  width: fit-content;
  max-width: 80%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #7940c9;
  padding: 10px;
}

.message-box-2 {
  word-wrap: break-word;
  width: fit-content;
  max-width: 80%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #d587dcba;
  padding: 10px;

 }

 i {
  color: lightgray;
  font-weight: lighter;
  font-size: 12px;

}

#new_message {

  width: 100%;
  display: flex;


  .msg-inputs {
    width: 75%;
    margin-right: 6px ;

  }
  .msg-actions {
    width: 25%;
    margin-left: 4px ;
  }
  input {
    margin: 0;
  }

}
