.heart {
  position: absolute;
    color: #9334E9;
    right: -8px;
    top: -6px;
    font-size: 20px;
    opacity: 1;
    border-radius: 50px;
    // animation: likeheart 0.7s ease;


    &::before {
      padding: 8px;
      border-radius: 50%;
      border: 2px solid $purple;

    }

}

.heart:hover {
  // animation: likeheart 0.7s ease;

  &::before {
    cursor: pointer;
    box-shadow: 1px 1px 10px $light-gray;
    color: $purple;

  }
}

@keyframes likeheart {
  0% {
    filter: drop-shadow(0 0 0 rgba(0,0,0,0.2));
    transform: scale(1)
  }
  40% {
    filter: drop-shadow(0 3px 1px rgba(0,0,0,0.2));
    transform: scale(1.5);
  }
  60% {
    filter: drop-shadow(0 0 0 rgba(0,0,0,0.2));
    transform: scale(1.5);
  }
  100% {
    filter: drop-shadow(0 0 0 rgba(0,0,0,0.2));
    transform: scale(1.0);
  }
}

.fav-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
