.filter {
  background-color: rgba($color: #9334E9, $alpha: 0.5);
  padding: 16px;
  // margin: 50px;
  // justify-content: center;
  border-radius: 8px;
  position: sticky;
  top: 100px;
  margin-bottom: 2em;

  .filter-content {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}
