.footer {
  // position:absolute;
  //   left:0;
  //   bottom:0;
  //   right: 0;
  /* position: fixed;
  left: 0;
  bottom: 0; */
  /* width: 100%; */
  background: $dark-gray;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  padding: 30px 50px;
  color: white;
  // border-top: 1px solid $purple;
}

.new-colour {
  background: #090909;
}

.footer-links {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.footer-links i {
  color: rgb(255, 255, 255);
  opacity: 0.2;
  text-decoration: none;
  font-size: 28px;
  transition: 0.5s;
  padding: 0px 16px;
}

.footer-links i:hover {
  opacity: 1;
  transform: scale(1.2);
}

.footer-copyright {
  text-align: center;
  font-size: 20px;
  color: $light-gray;

  p {
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 0px;
  }
  /* margin: 0 auto; */
}
