.homepage-testimonials {

  img {
    height: 140px;
    border-radius: 50%;
  }

  p {
    color: $light-gray;
  }

  .testimonial-name {
    text-align: end;
  }

  .testimonial-content {
    font-size: 14px;
    padding-left: 16px;

    i {
      color: $dark-orange;
    }
  }

  .testimonial-stars {
    padding-left: 16px;
  }
}

// .row {
//   padding-left: 0px !important;
// }

@media (min-width: 992px) and (max-width:1200px) {
  .testimonial-content {padding-left: 28px !important;}
}
