#map {
  box-shadow: 1px 1px 10px #6a37a5;
  object-fit: cover !important;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
