.meet-pending {
  background-color: $dark-orange;
  // flex: 1 1 auto;
  width: 350px;
  padding: 1rem 1rem;
  margin-bottom: 16px;
  height: 200px;
}

.meet-scheduled {
  background-color: $white;
  padding: 1rem 1rem;
  color: $gray;
  margin-bottom: 16px;
  height: 200px;
  width: 350px !important;
}

.meeting-cards {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  // justify-content: space-between;
}
