.navbar-lewagon {
  position: sticky;
  z-index: 10;
  top: 0;
  // padding-top: 16px;
  // padding-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  background: $dark-gray;
  border-bottom: 1px solid $dark-orange;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 180px;
}


.navbar-lewagon .navbar-collapse .nav-professionals {
  text-decoration: none;
  // position: absolute;
  // top: 30px;
  // right: 240px;
  color: $white;
  font-weight: 700;
  // border-bottom: 5px solid $dark-orange;
  // text-align: start;
}

.navbar-lewagon .navbar-collapse .current {
  border-bottom: 5px solid $dark-orange;
}

.navbar-lewagon .navbar-collapse .nav-login {
  // position: absolute;
  // top: 16px;
  // right: 120px;
  background-color: $purple;
  color: $white;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 6px;
  border: 3px solid $purple;
  transition: 0.2s ease-out;
  box-shadow: inset 0 0 0 0 $purple;

  &:hover {
    box-shadow: inset 270px 0 0 0 $dark-orange;
    color: $white;
    border: 3px solid $dark-orange;
  }
}

.navbar-lewagon .navbar-collapse .nav-sign-up {
  // position: absolute;
  // top: 16px;
  // right: 32px;
  background-color: transparent;
  color: $purple;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 16px;
  border-radius: 6px;
  border: 3px solid $purple;
  transition: 0.2s ease-out;
  box-shadow: inset 0 0 0 0 $purple;

  &:hover {
    box-shadow: inset 270px 0 0 0 $dark-orange;
    color: $white;
    border: 3px solid $dark-orange;
  }
}

// .navbar-lewagon .navbar-collapse .nav-explore {
  //   text-decoration: none;
  //   position: absolute;
  //   top: 36px;
  //   right: 120px;
  //   color: $white;
  //   font-weight: 700;
  //   // border-bottom: 5px solid $dark-orange;
  //   text-align: start;
  // }

  .navbar .navbar-collapse .avatar {
    width: 60px;
  }

  .navbar-nav {
    align-items: center;
  }

  .container-fluid {
    height: 60px;
  }

  .tabs {
    margin: 0 36px;
    transition: 0.25s;

    &:hover {
      // transform: scale(1.2);
      // color: black;
      border-bottom: 5px solid $dark-orange;
    }
  }
