.active {
  width: 270px !important;
  height: 55px !important;
  background-color: $purple !important;
  color: $white !important;
  text-decoration: none !important;
  font-weight: bold !important;
  padding: 16px 48px !important;
  border-radius: 8px !important;
  transition: 0.2s ease-out !important;
  box-shadow: inset 0 0 0 0 $purple !important;

  &:hover {
    box-shadow: inset 270px 0 0 0 $dark-orange !important;
    color: $white !important;
  }
}
