// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
// @import 'star-rating';

// Your CSS partials
@import "components/index";
@import "pages/index";
// @import "components/star_rating";

body {
  color: $white;
  background-color: $dark-gray;
  margin-bottom: 100px;
}

.nav-link.active {
  background-color: $purple !important;
  color: $white !important;
  font-weight: bold !important;
}

.nav-link {
  color: $purple !important;
  font-weight: bold !important;
}
