// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  color: $white;
  background-color: $dark-gray;
}

.nav-link.active {
  background-color: $purple !important;
  color: $white !important;
  font-weight: bold !important;
}

.nav-link {
  color: $purple !important;
  font-weight: bold !important;
}


.active {
  background-color: white;
}
